<div class="row mb-3 d-flex justify-content-end">
  <button mat-raised-button color="primary" routerLink="addUser">
    Add User
  </button>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p class="alert alert-warning">Users List</p>
        <ul class="list-group">
          <li
            routerLinkActive="active"
            [routerLink]="[user.id]"
            class="list-group-item"
            *ngFor="let user of getAllUsers"
          >
            {{ user.firstName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet> </router-outlet>
  </div>
</div>
