
  <div class="row justify-content-center" *ngIf="productObj">
    <div class="col-md-6">
      <mat-card class="shadow-lg">
        <img
          [src]="productObj.image"
          class="card-img-top img-fluid"
          style="height: 300px; object-fit: cover"
        />
        <mat-card-content class="p-3 text-center">
          <h2 class="mb-2">{{ productObj.name }}</h2>
          <p class="text-muted">{{ productObj.description }}</p>
          <h4 class="text-success">₹ {{ productObj.price }}</h4>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary" routerLink="edit">Edit</button>
          <button mat-raised-button color="warn" (click)="onRemoveProduct()">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

